@charset "UTF-8";

/* general */

*
{
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  line-height: 1.3;
}

a
{
  text-decoration: underline;
}

a:hover, a:active
{
  text-decoration: none;
  outline-style: solid;
  outline-width: 1px;
}
a:link
{
  color: darkblue;
}
a:visited
{
  color: purple;
}
a:link:hover
{
  background-color: #e0e0ff;
  outline-color: blue;
}
a:visited:hover
{
  background-color: #ffe0ff;
  outline-color: purple;
}
a:active
{
  color: red;
  outline-color: red ! important;
  background-color: #ffe0e0 ! important;
}

body
{
  font-family: sans-serif;
  margin: 1em;
  padding: 1em 2em;
  color: #404040;
  min-height: 640px;
}

h1,h2,h3,h4,h5,h6
{
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  margin: 1em 0;
}

h1
{
  font-size: 150%;
  margin: 1em 0;
  border: solid 0.2em #333333;
  border-style: none none double none;
}

h2
{
  margin-top: 3em;
  padding: 0.1em;
  font-size: 100%;
  background-color: #808080;
  color: white;
  border: solid 0.1em #333333;
  border-width: 0.15em;
  text-transform: uppercase;
}

h2:first-letter
{
  font-weight: bold;
  font-size: 120%;
  text-transform: uppercase;
}

p
{
  margin: 1em 0.5em;
  text-indent: 1em;
  background-color: transparent;
}

p.epigraph
{
  margin: 1em;
  text-indent: 0;
  background-color: transparent;
  line-height: 3.0;
}

code
{
  display: block;
  font-family: monospace ! important;
  border: 1px #999999 solid;
  background-color: #eeeeee;
  padding: 0.2em;
  overflow: scroll;
}

#article
{
  clear: both;
  background-color: transparent;
  min-height: 600px;
}

address
{
  text-align: right;
  font-size: 75%;
}

#footer
{
  margin: 0.5em 0;
  border: solid #404040 1px;
  border-style: solid none none none;
}

#footer *
{
  margin: 0.5em 0;
}

#footer address
{
  font-style: italic !important;
}
