.console
{
  height: 20em;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  border-style: solid;
  border-width: 4px;
  border-color: #333333;
  background-color: #000000;
  color: #ffffff;
  font-family: monospace;
}

.console ul
{
  list-style-type: none;
  margin: 0;
  padding: 0 .5em;
}

.console ul li
{
  margin-left: 0;
}

.console input
{
  width: 100%;
  display: inline;
  border-style: none;
  background-color: #181818;
  ime-mode: disabled;
}

.console ul li.userinput
{
  font-weight: bold;
}

.console ul li.error
{
  color: #ff0000;
}

.console .redex > .abstraction > .lambda,
.console .redex > .abstraction > .binding,
.console .redex .bound
{
  color: #00cccc;
}

.console .redex > .argument,
.console .redex > .argument *
{
  text-decoration: underline;
}

.console .reduce
{
  margin-right: .5em;
}

.prompt
{
  color: #999999;
  font-weight: bold;
  margin-right: .5em;
}

ul.select
{
  list-style-type: none;
  height: 1.3em;
  margin: .5em 0 0 0;
  padding: 0;
}

ul.select li
{
  float: left;
  margin: 0 .5em 0 0;
}

ul.select li a
{
  margin: 0;
  padding: .2em;
  font-weight: bold;
  text-decoration: none;
  color: #999999;
  background-color: #eeeeee;
  -moz-border-radius: .3em;
}

ul.select li a:link:hover,
ul.select li a:visited:hover
{
  color: #9999ee;
  background-color: #e0e0f0;
  border-style: none;
  outline-style: none;
  text-decoration: underline;
}

ul.select li.selected a,
ul.select li.selected a:link:hover,
ul.select li.selected a:visited:hover
{
  color: #ffffff;
  background-color: #999999;
}

#syntax th, #syntax td
{
  padding: .5em;
}

#syntax th, #syntax th a
{
  background-color: #999999;
  color: #ffffff;
  font-weight: bold;
}

#syntax td
{
  background-color: #eeeeee;
}

#syntax code
{
  display: inline;
  border-style: none;
  background-color: inherit;
  overflow: visible;
}

#syntax code var
{
  font-style: italic;
}
