.console
{
  height: 20em;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  border-style: solid;
  border-width: 4px;
  border-color: #333333;
  background-color: #000000;
  color: #ffffff;
  font-family: monospace;
}

.console ul
{
  list-style-type: none;
  margin: 0;
  padding: 0 .5em;
}

.console ul li
{
  margin-left: 0;
}

.console input
{
  width: 100%;
  display: inline;
  border-style: none;
  background-color: #181818;
  ime-mode: disabled;
}

.console ul li.userinput
{
  font-weight: bold;
}

.console ul li.error
{
  color: #ff0000;
}

.console .marked > .abstraction > .lambda,
.console .marked > .abstraction > .binding,
.console .marked .bound
{
  color: #00cccc;
}

.console .marked > .argument,
.console .marked > .argument *
{
  text-decoration: underline;
}

.prompt
{
  color: #999999;
  font-weight: bold;
  margin-right: .5em;
}

#syntax th, #syntax td
{
  padding: .5em;
}

#syntax th, #syntax th a
{
  background-color: #999999;
  color: #ffffff;
  font-weight: bold;
}

#syntax td
{
  background-color: #eeeeee;
}

#syntax code
{
  display: inline;
  border-style: none;
  background-color: inherit;
  overflow: visible;
}

#syntax code var
{
  font-style: italic;
}
